<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yourhospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourHospital">
        <activity
            android:name=".DaftarUser"
            android:exported="true" />
        <activity
            android:name=".detailpemesanan"
            android:exported="true" />
        <activity
            android:name=".editform"
            android:exported="true" />
        <activity
            android:name=".form"
            android:exported="true" />
        <activity
            android:name=".DetailRSSarjito"
            android:exported="true" />
        <activity
            android:name=".DetailPantiRapih"
            android:exported="true" />
        <activity
            android:name=".DetailRSpku"
            android:exported="true" />
        <activity
            android:name=".DetailBathesda"
            android:exported="true" />
        <activity
            android:name=".DetailRSjih"
            android:exported="true" />
        <activity
            android:name=".DetailDrYap"
            android:exported="true" />
        <activity
            android:name=".Opening"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>